Source: ros-groovy-object-recognition-tod
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libeigen3-dev, ros-groovy-catkin, ros-groovy-cmake-modules, ros-groovy-ecto, ros-groovy-ecto-opencv, ros-groovy-object-recognition-core
Homepage: http://wg-perception.github.io/tod/
Standards-Version: 3.9.2

Package: ros-groovy-object-recognition-tod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-ecto, ros-groovy-ecto-opencv, ros-groovy-ecto-openni, ros-groovy-object-recognition-core
Description: Textured Object Recognition a standard bag of features approach
