Source: ros-hydro-object-recognition-tod
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libeigen3-dev, ros-hydro-catkin, ros-hydro-ecto, ros-hydro-ecto-opencv, ros-hydro-object-recognition-core
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-hydro-object-recognition-tod
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-ecto, ros-hydro-ecto-opencv, ros-hydro-object-recognition-core
Description: Textured Object Recognition a standard bag of features approach
